body {
  /* This image will be displayed fullscreen */
background-image: url("../images/index_background.jpg");
/* Ensure the html element always takes up the full height of the browser window */
min-height:100%;


/* The Magic */
background-size: 100%;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.jumbotron {
  opacity: .9;
}

.gridRow {
  width: 100%;
  height: 11%;
}

.gridSpacer {
  width: 20%;
}

.gridNav {
  width: 60%;
}
