<form ng-submit="updateZestimate()" role="form" class="centered form" style="padding:20px;">

  <div class="form-group row">
    <label for="address1" class="col-sm-2 form-control-label">Property Address:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="address1" placeholder="{{ activeProperty.streetAddress }}" readonly>
    </div>
  </div>

  <div class="form-group row">
    <label for="zip1" class="col-sm-2 form-control-label">Property Zipcode:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="zip1" placeholder="{{ activeProperty.zipCode }}" readonly>
    </div>
  </div>

  <div class="form-group row">
    <label for="valuation" class="col-sm-2 form-control-label">Valuation:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="valuation" ng-model="updatedValue" placeholder="Enter A Value For The Property...">
    </div>
  </div>

  <div class="form-group row">
    <label for="rent" class="col-sm-2 form-control-label">Rent Estimation:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="rent" ng-model="updatedRent" placeholder="Enter Rent Estimation...">
    </div>
  </div>

      <a href="#" ng-click="resetActiveProperty();" class="btn btn-primary btn-large button" style="margin: 10px;"><i class="icon-white icon-chevron-left"></i> Return To Search</a>
  <button type="submit" class="btn btn-default" style="margin: 10px;">Submit</button>

</form>
