<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src = "js/createCompApp.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="css/delete-comp.css"/>
  <link rel="stylesheet" href="css/app.css"/>

  <title>Delete Comparable</title>

</head>

<body ng-app="addCompApp" ng-controller="addCompCtrl">
  <div class="container">
    <navigation-delete></navigation-delete>
    <div ng-show="!showDetails">
      <form ng-submit="submit()" role="form" class="halfpage centered form-inline">
        <p><b>Step 1:</b><span style="margin-left:5px;">Search For A Property To Add A Comparable To<span></p>
        <div class="form-group">
          <label for="address">Address:</label>
          <input type="text" class="form-control" id="address" ng-model="addressToSearch" placeholder="Enter Street Address">
        </div>
        <div class="form-group" style="margin-left: 10px;">
          <label for="zip">Zipcode:</label>
          <input type="text" class="form-control" id="zip" ng-model="zipcodeToSearch" placeholder="Enter Zipcode">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <br>
      <div ng-if="properties" class="resultsList">
        <div ng-repeat="property in properties">
          <property-address></property-address>
        </div>
      </div>
    </div>
    <div ng-show="showDetails" class="details">
      <delete-form></delete-form>
    </div>
    <div ng-show="comparables" class="details pre-scrollable">
      <div ng-repeat="comparable in comparables">
      <comp-info></comp-info>
    </div>
    </div>
    <div ng-show="searchError" class="errorMsg">
      {{ errorMessage }}
    </div>
    <div ng-show="addCompError" class="errorMsg">
      {{ compErrorMessage }}
    </div>
  </div>
</body>
</html>
